SUPABASE_URL=https://<tu-proyecto>.supabase.co
SUPABASE_KEY=<tu-clave-de-servicio>
AUTH_SERVICE_HOST=auth-service
AUTH_SERVICE_PORT=3001
CUSTOMERS_SERVICE_HOST=customers-service
CUSTOMERS_SERVICE_PORT=3005
SUPPLIERS_SERVICE_HOST=suppliers-service
SUPPLIERS_SERVICE_PORT=3003
BILLING_SERVICE_HOST=billing-service
BILLING_SERVICE_PORT=3004
INVENTORY_SERVICE_HOST=inventory-service
INVENTORY_SERVICE_PORT=3002